@import url('https://fonts.googleapis.com/css2?family=Farro:wght@400;500;700&display=swap');

.fighter-preview___root {
  display: flex;
  background-color:#ffdfa7;
  flex-basis: 250px;
  flex-grow: 1;
  align-items: center;
}

.information {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  font-family: 'Farro', sans-serif;
}

.information p {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

.information h1 {
  font-weight: 700;
  font-size: 36px;
}

.fighter-preview___right {
  flex-direction: row-reverse;
}

.fighter-preview___left .information {
  align-items: flex-end;
}

.fighter-preview-image-wrapper {
  display: flex;
  justify-content: center;
  min-width: 240px;
  flex-grow: 1;
}

.fighter-preview___root img {
  height: 380px;
}
