@import url('https://fonts.googleapis.com/css2?family=Farro:wght@400;500;700&display=swap');

.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #ffdfa7;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #000000;
  font-weight: 700;
  font-size: 22px;
  color: rgb(129, 8, 8);
  font-family: 'Farro', sans-serif;
  font-weight: 700;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.results img {
  height: 300px;
}

.results {
  display: flex;
  justify-content: center;
}
